# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
object_script*
*-build-*

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
build-FISH-OPENROV-Desktop_Qt_5_4_0_clang_64bit-Debug/.qmake.stash
build-FISH-OPENROV-Desktop_Qt_5_4_0_clang_64bit-Debug/FISH-OPENROV.app/Contents/Info.plist
build-FISH-OPENROV-Desktop_Qt_5_4_0_clang_64bit-Debug/FISH-OPENROV.app/Contents/PkgInfo
build-FISH-OPENROV-Desktop_Qt_5_4_0_clang_64bit-Debug/FISH-OPENROV.app/Contents/MacOS/FISH-OPENROV
build-FISH-OPENROV-Desktop_Qt_5_4_0_clang_64bit-Debug/FISH-OPENROV.app/Contents/Resources/empty.lproj
